In [ ]:
#problem-1

ft = int(input("Input distance in feet: "))
inches = ft * 12
yards = ft / 3.0
miles = ft / 5280.0

print("Convert distance to inches is %i inches." % inches)
print("Convert distance to yards is %.2f yards." % yards)
print("Convert distance to miles is %.2f miles." % miles)

Input distance in feet: 34
Convert distance to inches is 408 inches.
Convert distance to yards is 11.33 yards.
Convert distance to miles is 0.01 miles.

In [ ]:
#problem-2

def evenword_reversing(txt):
         return ' '.join(i[::-1]if not len(i)%2 
         else i for i in txt.split())
s = input("Enter the string: ")
print(evenword_reversing(s))

Enter the string: this piece is made of cotton
siht piece si edam fo nottoc

In [ ]:
#problem-3

def is_twocircles_collision(circle1, circle2):
   x1, y1, r1 = circle1
   x2, y2, r2 = circle2
   distance = ((x1-x2)**2 + (y1-y2)**2)**0.5
   return distance <= r1 + r2
print(is_twocircles_collision([0.2,2.5, 3.9], [10,22.56, 6.8]))
print(is_twocircles_collision([2,6,10], [10,11,15]))

False
True

In [11]:
#problem-4


def two_unique_nums(nums):
  return [i for i in nums if nums.count(i)==1]
print(two_unique_nums([50,20,50,30,70,20]))
print(two_unique_nums([12,21,22,23,12,43]))

[30, 70]
[21, 22, 23, 43]

In [ ]:

List=[2,4,1,3,4,1,2,2,7,6,9,9,7,4,6,10,36,2,3]
print(List)
dublicate = []
for i in List:
    if i not in dublicate:
        dublicate.append(i)

print ("After removing duplicates : " + str(dublicate))

[2, 4, 1, 3, 4, 1, 2, 2, 7, 6, 9, 9, 7, 4, 6, 10, 36, 2, 3]
After removing duplicates : [2, 4, 1, 3, 7, 6, 9, 10, 36]